<% layout("./layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/profile.css">

<% console.log('User Data:', user); %> <!-- Log the user data -->



  <!-- here is the general form -->
  <form action="/profile/<%= user._id %>/edit" method="POST" novalidate enctype="multipart/form-data">

    <div class="row">
      <div class="col-md-4">
        <div class="mb-3 avatar-edit-container ">
          <div class="avatar-profile-container">
            <img src="<%= user.avatar.url %>" alt="Avatar of <%= user.username %>" class="avatar-profile">
          </div>
          <div class="form-file custom-file">
            <label class="form-file-label" for="avatar">
              <span class="form-file-button-edit-avatar">
                <i class="fa-solid fa-camera" style="color: #000000;"></i>
                <span class="edit-text">Edit</span>
              </span>
            </label>
            <input type="file" class="form-file-input" id="avatar" name="avatar" >
          </div>
        </div>
      </div>


      <div class="col-md-8">
        <p class="edit-profile-title">Your Profile</p>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <input class="form-control profile-field  type="text" name="user[username]" id="username" value="<%= user.username %>" required ">
              <button type="button" class="btn btn-outline-secondary edit-profile-button" data-bs-toggle="modal" data-bs-target="#usernameModal">
                <div class="flex-container">
                  <i class="fa-solid fa-user edit-profile-icon"></i>
                  <div>
                    Username: <span id="generalUsername"><%= user.username %></span>
                  </div>
                  <i class="fa-solid fa-chevron-right edit-profile-arrow"></i>
                </div>
              </button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <input class="form-control profile-field" type="email" name="user[email]" id="email" value="<%= user.email %>" required ">
              <button type="button" class="btn btn-outline-secondary  edit-profile-button" data-bs-toggle="modal" data-bs-target="#emailModal">
                <i class="fa-solid fa-envelope edit-profile-icon"></i>
                Email: <span id="generalEmail"><%= user.email %></span>
                <i class="fa-solid fa-chevron-right edit-profile-arrow""></i>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <input class="form-control" type="date" name="user[birthDate]" id="birthDate" value="<%= user.birthDate ? user.birthDate.toISOString().substr(0, 10) : '' %>" >
              <button type="button" class="btn btn-outline-secondary  edit-profile-button" data-bs-toggle="modal" data-bs-target="#birthDateModal">
                <i class="fa-solid fa-cake-candles edit-profile-icon"></i>
                Date of Birth: <span id="generalBirthDate"><%= user.birthDate ? user.birthDate.toISOString().substr(0, 10) : '' %></span>
                <i class="fa-solid fa-chevron-right edit-profile-arrow""></i>
              </button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <input class="form-control" type="text" name="user[work]" id="work" value="<%= user.work %>" required >
              <button type="button" class="btn btn-outline-secondary  edit-profile-button" data-bs-toggle="modal" data-bs-target="#workModal">
                <i class="fa-solid fa-briefcase edit-profile-icon"></i>
                Work: <span id="generalWork"><%= user.work %></span>
                <i class="fa-solid fa-chevron-right edit-profile-arrow""></i>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <input class="form-control" type="text" name="user[funFact]" id="funFact" value="<%= user.funFact %>" >
              <button type="button" class="btn btn-outline-secondary  edit-profile-button" data-bs-toggle="modal" data-bs-target="#funFactModal">
                <i class="fa-solid fa-lightbulb edit-profile-icon"></i>
                Fun Fact: <span id="generalFunFact"><%= user.funFact %></span>
                <i class="fa-solid fa-chevron-right edit-profile-arrow""></i>
              </button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <input class="form-control" type="text" name="user[favoriteSong]" id="favoriteSong" value="<%= user.favoriteSong %>" >
              <button type="button" class="btn btn-outline-secondary  edit-profile-button" data-bs-toggle="modal" data-bs-target="#favoriteSongModal">
                <i class="fa-solid fa-music edit-profile-icon"></i>
                Favorite Song: <span id="generalFavoriteSong"><%= user.favoriteSong %></span>
                <i class="fa-solid fa-chevron-right edit-profile-arrow""></i>
              </button>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <input class="form-control" type="text" name="user[uselessSkill]" id="uselessSkill" value="<%= user.uselessSkill %>" >
              <button type="button" class="btn btn-outline-secondary  edit-profile-button" data-bs-toggle="modal" data-bs-target="#uselessSkillModal">
                <i class="fa-solid fa-wand-magic-sparkles edit-profile-icon"></i>
                Useless Skill: <span id="generalUselessSkill"><%= user.uselessSkill %></span>
                <i class="fa-solid fa-chevron-right edit-profile-arrow""></i>
              </button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <input class="form-control" type="text" name="user[school]" id="school" value="<%= user.school %>" >
              <button type="button" class="btn btn-outline-secondary  edit-profile-button" data-bs-toggle="modal" data-bs-target="#schoolModal">
                <i class="fa-solid fa-graduation-cap edit-profile-icon"></i>
                School: <span id="generalSchool"><%= user.school %></span>
                <i class="fa-solid fa-chevron-right edit-profile-arrow""></i>
              </button>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <input class="form-control" type="text" name="user[spendingHabit]" id="spendingHabit" value="<%= user.spendingHabit %>" >
              <button type="button" class="btn btn-outline-secondary  edit-profile-button" data-bs-toggle="modal" data-bs-target="#spendingHabitModal">
                <i class="fa-regular fa-clock edit-profile-icon"></i>
                Spending Habit: <span id="generalSpendingHabit"><%= user.spendingHabit %></span>
                <i class="fa-solid fa-chevron-right edit-profile-arrow""></i>
              </button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <input class="form-control" type="text" name="user[biographyTitle]" id="biographyTitle" value="<%= user.biographyTitle %>" >
              <button type="button" class="btn btn-outline-secondary  edit-profile-button" data-bs-toggle="modal" data-bs-target="#biographyTitleModal">
                <i class="fa-solid fa-book edit-profile-icon"></i>
                Biography Title: <span id="generalBiographyTitle"><%= user.biographyTitle %></span>
                <i class="fa-solid fa-chevron-right edit-profile-arrow""></i>
              </button>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <input class="form-control" type="text" name="user[obsession]" id="obsession" value="<%= user.obsession %>" >
              <button type="button" class="btn btn-outline-secondary  edit-profile-button" data-bs-toggle="modal" data-bs-target="#obsessionModal">
                <i class="fa-solid fa-heart edit-profile-icon"></i>
                Obsession: <span id="generalObsession"><%= user.obsession %></span>
                <i class="fa-solid fa-chevron-right edit-profile-arrow""></i>
              </button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <input class="form-control" type="text" name="user[languages]" id="languages" value="<%= user.languages %>" >
              <button type="button" class="btn btn-outline-secondary  edit-profile-button" data-bs-toggle="modal" data-bs-target="#languagesModal">
                <i class="fa-solid fa-globe edit-profile-icon"></i>
                Languages: <span id="generalLanguages"><%= user.languages %></span>
                <i class="fa-solid fa-chevron-right edit-profile-arrow""></i>
              </button>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <input class="form-control" type="text" name="user[location]" id="location" value="<%= user.location %>" >
              <button type="button" class="btn btn-outline-secondary  edit-profile-button" data-bs-toggle="modal" data-bs-target="#locationModal">
                <i class="fa-solid fa-earth-europe edit-profile-icon"></i>
                Location: <span id="generalLocation"><%= user.location %></span>
                <i class="fa-solid fa-chevron-right edit-profile-arrow""></i>
              </button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <input class="form-control" type="text" name="user[pets]" id="pets" value="<%= user.pets %>" >
              <button type="button" class="btn btn-outline-secondary  edit-profile-button" data-bs-toggle="modal" data-bs-target="#petsModal">
                <i class="fa-solid fa-paw edit-profile-icon"></i>
                Pets: <span id="generalPets"><%= user.pets %></span>
                <i class="fa-solid fa-chevron-right edit-profile-arrow""></i>
              </button>
            </div>
          </div>
        </div>


          <div class="updateButton">
            <button class="btn btn-info text-white">Update Profile</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <a class="Back-To-Profile-Link" href="/profile/<%= user._id %>">Back to Profile</a>






  <div id="modalContainer"></div>


<script>

document.addEventListener('DOMContentLoaded', function () {
  console.log('DOMContentLoaded event fired');
  // Define modal data
  const modals = [
    {
      id: 'usernameModal',
      title: 'Edit Username',
      label: 'Username',
      inputId: 'modalUsername',
      value: '<%= user.username %>',
      maxLength: 40,
    },
    {
      id: 'emailModal',
      title: 'Edit Email',
      label: 'Email',
      inputId: 'modalEmail',
      value: '<%= user.email %>',
    },
    {
      id: 'birthDateModal',
      title: 'Edit Birth Date',
      label: 'Date of Birth',
      inputId: 'modalBirthDate',
      value: '<%= user.birthDate ? user.birthDate.toISOString().substr(0, 10) : "" %>',
    },
    {
      id: 'workModal',
      title: 'What do you do for work?',
      label: 'Work',
      inputId: 'modalWork',
      value: '<%= user.work %>',
    },
    {
      id: 'funFactModal',
      title: 'What’s a fun fact about you?',
      label: 'Fun Fact',
      inputId: 'modalFunFact',
      value: '<%= user.funFact %>',
    },
    {
      id: 'favoriteSongModal',
      title: 'What is your favorite song?',
      label: 'Favorite Song',
      inputId: 'modalFavoriteSong',
      value: '<%= user.favoriteSong %>',
    },
    {
      id: 'uselessSkillModal',
      title: 'What’s your most useless skill?',
      label: 'Useless Skill',
      inputId: 'modalUselessSkill',
      value: '<%= user.uselessSkill %>',
    },
    {
      id: 'schoolModal',
      title: 'Where did you go to school?',
      label: 'School',
      inputId: 'modalSchool',
      value: '<%= user.school %>',
    },
    {
      id: 'spendingHabitModal',
      title: 'What do you spend too much time doing?',
      label: 'Spending Habit',
      inputId: 'modalSpendingHabit',
      value: '<%= user.spendingHabit %>',
    },
    {
      id: 'biographyTitleModal',
      title: 'What would your biography title be?',
      label: 'Biography Title',
      inputId: 'modalBiographyTitle',
      value: '<%= user.biographyTitle %>',
    },
    {
      id: 'obsessionModal',
      title: 'Edit Obsession',
      label: 'What are you obsessed with?',
      inputId: 'modalObsession',
      value: '<%= user.obsession %>',
    },
    {
      id: 'languagesModal',
      title: 'Languages you speak',
      label: 'Languages',
      inputId: 'modalLanguages',
      value: '<%= user.languages %>',
    },
    {
      id: 'locationModal',
      title: 'Where you live?',
      label: 'Location',
      inputId: 'modalLocation',
      value: '<%= user.location %>',
    },
    {
      id: 'petsModal',
      title: 'Do you have any pets in your life?',
      label: 'Pets',
      inputId: 'modalPets',
      value: '<%= user.pets %>',
    },
  ];

  const inputIdMapping = {
    modalUsername: 'username',
    modalEmail: 'email',
    modalBirthDate: 'birthDate',
    modalWork: 'work',
    modalFunFact: 'funFact',
    modalFavoriteSong: 'favoriteSong',
    modalUselessSkill: 'uselessSkill',
    modalSchool: 'school',
    modalSpendingHabit: 'spendingHabit',
    modalBiographyTitle: 'biographyTitle',
    modalObsession: 'obsession',
    modalLanguages: 'languages',
    modalLocation: 'location',
    modalPets: 'pets',
  };

  const spanIdMapping = {

    modalUsername:'generalUsername',
    modalEmail: 'generalEmail',
    modalBirthDate: 'generalBirthDate',
    modalWork: 'generalWork',
    modalFunFact: 'generalFunFact',
    modalFavoriteSong: 'generalFavoriteSong',
    modalUselessSkill: 'generalUselessSkill',
    modalSchool: 'generalSchool',
    modalSpendingHabit: 'generalSpendingHabit',
    modalBiographyTitle: 'generalBiographyTitle',
    modalObsession: 'generalObsession',
    modalLanguages: 'generalLanguages',
    modalLocation: 'generalLocation',
    modalPets: 'generalPets',

  };











  // Function to generate modal HTML
  function generateModal(modalData) {
    const initialCharCount = modalData.value ? modalData.value.length : 0;

    return `
      <div class="modal fade" id="${modalData.id}" tabindex="-1" aria-labelledby="${modalData.id}Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="${modalData.id}Label">${modalData.title}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <label class="form-label" for="${modalData.inputId}" id="${modalData.inputId}Label">${modalData.label}</label>
              <input class="form-control input-form" type="text" name="user[${modalData.inputId}]" id="${modalData.inputId}" value="${modalData.value}" ${modalData.maxLength ? `maxlength="${modalData.maxLength}"` : ''} required>
              <div class="character-count">
                <span id="currentCharCount-${modalData.inputId}">${initialCharCount}</span>/<span id="maxCharCount-${modalData.inputId}">${modalData.maxLength || '40'}</span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary modal-save-button" data-bs-dismiss="modal" id="save${modalData.inputId}Button" data-modal-input="${modalData.inputId}">Save</button>
            </div>
          </div>
        </div>
      </div>
    `;
  }

  // Function to add modals to the container
  function addModalsToContainer() {
    const modalContainer = document.getElementById('modalContainer');
    console.log('Adding modals...');

    modals.forEach((modalData) => {
      console.log(`Setting up modal for ${modalData.inputId}`);

      const modalHTML = generateModal(modalData);
      modalContainer.innerHTML += modalHTML;


    });



    // Select all elements with the class 'modal-save-button'
    const saveButtons = document.querySelectorAll('.modal-save-button');

    // Loop through each save button and add an event listener
    saveButtons.forEach(function (saveButton) {
      saveButton.addEventListener('click', function () {
        // Find the associated modalData
        const modalId = saveButton.getAttribute('data-modal-input');
        const modalData = modals.find(data => data.inputId === modalId);

        if (!modalData) {
          console.log('Error: Modal data not found for button');
          return;
        }
        console.log(`Clicked button ID: ${saveButton.id}`);
        console.log(`Extracted modal ID: ${modalId}`);
        console.log(`Matching modal data: ${modalData.inputId}`);

        console.log(`Save button clicked for ${modalData.inputId}`);

        const newValue = document.getElementById(`${modalData.inputId}`).value;

        // Log the new value to the console
        console.log(`New value for ${modalData.label}: ${newValue}`);

        // Update the input value and span content based on the mapping
        const mappedInputId = inputIdMapping[modalData.inputId];
        const inputField = document.getElementById(mappedInputId);

        if (inputField) {
          inputField.value = newValue;
          console.log(`Updated inputField (${mappedInputId}) value: ${inputField.value}`);
        } else {
          console.log(`Input field not found for ${modalData.inputId}`);
        }

        const mappedSpanId = spanIdMapping[modalData.inputId];
        const spanField = document.getElementById(mappedSpanId); // Use mappedSpanId here

        if (spanField) {
          spanField.textContent = newValue;
          console.log(`Updated spanField (${spanField.id}) content: ${spanField.textContent}`);
        } else {
          console.log(`Span field not found for ${modalData.inputId}`);
        }
      });
    });
  }


  // Add modals to the container
  addModalsToContainer();

});


</script>
