<% layout("./layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="user-profile-card">
        <img src="<%= user.avatar.url %>" alt="Avatar of <%= user.username %>" class="avatar-profile">
        <p class="user-name"><%= user.username %></p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="user-profile-content-card">
        <p class="user-name"> About: <%= user.username %></p>
        <div class="text-center mt-4">
          <a href="/profile/<%= user._id %>/edit" class="btn btn-primary">Edit Profile</a>
        </div>      </div>
    </div>
  </div>
</div>

<!-- ...other user information -->
