<% layout("./layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="user-profile-card">
        <img src="<%= user.avatar.url %>" alt="Avatar of <%= user.username %>" class="avatar-profile">
        <p class="user-name"><%= user.username %></p>
      </div>
    </div>
    <div class="col-md-9">
      <div class="user-profile-content-card">
        <p class="user-name"> About: <%= user.username %></p>
        <div class="mt-4 editProfile-Button-Container">
          <a href="/profile/<%= user._id %>/edit" class="btn editProfile-button-profilePage">Edit Profile</a>
        </div>

        <div class="row">
          <div class="col-md-6 left-userProfile-container">
            <% if (user.birthDate) {%>
              <div class="icon-and-user-profile-data">
                <i class="fa-solid fa-cake-candles edit-profile-icon"></i>
                <div style="flex-grow: 1;">
                  <p class="user-profile-data-profilePage">
                    <span class="user-profile-data-profilePage-title">I was born in:</span> <%= user.birthDate ? user.birthDate.toISOString().substr(0, 10) : '' %>
                  </p>

                </div>
              </div>

              <% } %>
          </div>

          <div class="col-md-6 right-userProfile-container">
            <% if (user.work) {%>
              <div class="icon-and-user-profile-data">
                <i class="fa-solid fa-briefcase edit-profile-icon"></i>
                <div style="flex-grow: 1;">
                  <p class="user-profile-data-profilePage">
                    <span class="user-profile-data-profilePage-title"> My work:</span> <%= user.work %>
                  </p>
                </div>
              </div>
            <% } %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 left-userProfile-container">
            <% if (user.funFact ) {%>
              <div class="icon-and-user-profile-data">
                <i class="fa-solid fa-lightbulb edit-profile-icon"></i>
                <div style="flex-grow: 1;">
                  <p class="user-profile-data-profilePage">
                    <span class="user-profile-data-profilePage-title"> My fun fact:</span> <%= user.funFact %>
                  </p>
                </div>
              </div>
            <% } %>
          </div>

          <div class="col-md-6 right-userProfile-container">
            <% if (user.favoriteSong ) {%>
              <div class="icon-and-user-profile-data">
                <i class="fa-solid fa-music edit-profile-icon"></i>
                <div style="flex-grow: 1;">
                  <p class="user-profile-data-profilePage">
                    <span class="user-profile-data-profilePage-title">My favorite song:</span> <%= user.favoriteSong %>
                  </p>
                </div>
              </div>
            <% } %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 left-userProfile-container">
            <% if (user.uselessSkill ) {%>
              <div class="icon-and-user-profile-data">
                <i class="fa-solid fa-wand-magic-sparkles edit-profile-icon"  style="margin-right: 1.5rem;"></i>
                <div style="flex-grow: 1;">
                  <p class="user-profile-data-profilePage">
                    <span class="user-profile-data-profilePage-title">My most useless skill:</span> <%= user.uselessSkill %>
                  </p>
                </div>
              </div>
            <% } %>
          </div>

          <div class="col-md-6 right-userProfile-container">
            <% if (user.school ) {%>
              <div class="icon-and-user-profile-data">
                <i class="fa-solid fa-graduation-cap edit-profile-icon"  style="margin-right: 1.5rem;"></i>
                <div style="flex-grow: 1;">
                  <p class="user-profile-data-profilePage">
                    <span class="user-profile-data-profilePage-title">Where I went to school:</span> <%= user.school %>
                  </p>
                </div>
              </div>
            <% } %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 left-userProfile-container">
            <% if (user.spendingHabit) {%>
              <div class="icon-and-user-profile-data">
                <i class="fa-regular fa-clock edit-profile-icon"></i>
                <div style="flex-grow: 1;">
                  <p class="user-profile-data-profilePage">
                    <span class="user-profile-data-profilePage-title">I spend too much time:</span> <%= user.spendingHabit %>
                  </p>
                </div>
              </div>
            <% } %>
          </div>

          <div class="col-md-6 right-userProfile-container">
            <% if (user.biographyTitle) {%>
              <div class="icon-and-user-profile-data">
                <i class="fa-solid fa-book edit-profile-icon"></i>
                <div style="flex-grow: 1;">
                  <p class="user-profile-data-profilePage">
                    <span class="user-profile-data-profilePage-title">My biography title would be:</span> <%= user.biographyTitle %>
                  </p>
                </div>
              </div>
            <% } %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 left-userProfile-container">
            <% if (user.obsession) {%>
              <div class="icon-and-user-profile-data">
                <i class="fa-solid fa-heart edit-profile-icon"></i>
                <div style="flex-grow: 1;">
                  <p class="user-profile-data-profilePage">
                    <span class="user-profile-data-profilePage-title">I'm obsessed with:</span> <%= user.obsession %>
                  </p>
                </div>
              </div>
            <% } %>
          </div>

          <div class="col-md-6 right-userProfile-container">
            <% if (user.languages) {%>
              <div class="icon-and-user-profile-data">
                <i class="fa-solid fa-globe edit-profile-icon"></i>
                <div style="flex-grow: 1;">
                  <p class="user-profile-data-profilePage">
                    <span class="user-profile-data-profilePage-title">Languages I speak:</span> <%= user.languages %>
                  </p>
                </div>
              </div>
            <% } %>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6 left-userProfile-container">
            <% if (user.location) {%>
              <div class="icon-and-user-profile-data">
                <i class="fa-solid fa-earth-europe edit-profile-icon"></i>
                <div style="flex-grow: 1;">
                  <p class="user-profile-data-profilePage">
                     <span class="user-profile-data-profilePage-title">Where I live:</span> <%= user.location %>
                  </p>
                </div>
              </div>
            <% } %>
          </div>

          <div class="col-md-6 right-userProfile-container">
            <% if (user.pets) {%>
              <div class="icon-and-user-profile-data">
                <i class="fa-solid fa-paw edit-profile-icon"></i>
                <div style="flex-grow: 1;">
                  <p class="user-profile-data-profilePage">
                    <span class="user-profile-data-profilePage-title">Pets:</span> <%= user.pets %>
                  </p>
                </div>
              </div>
            <% } %>
          </div>
        </div>

        <div class="aboutYou-parent-container">
          <div class="aboutYou-container-profilePage">
            <% if (user.aboutYou) {%>
              <h5>About You:</h5>
              <p><span class="profile-text"><%= user.aboutYou %></span>
              <a href="#" class="read-more-btn btn-link" style="color: black; font-weight:600 ;">Read more</a>
              <a href="#" class="read-less-btn btn-link" style="color: black; font-weight: 600; display: none;">Read less</a></p>
            <% } %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
    var maxCharacters = 250;
    var profileText = $(".profile-text").text();

    if (profileText.length > maxCharacters) {
      var trimmedText = profileText.substring(0, maxCharacters);
      $(".profile-text").text(trimmedText + "...");
      $(".read-more-btn").show();

      $(".read-more-btn").click(function(e) {
        e.preventDefault();
        $(".profile-text").text(profileText);
        $(".read-more-btn").hide();
        $(".read-less-btn").show();
      });

      $(".read-less-btn").click(function(e) {
        e.preventDefault();
        $(".profile-text").text(trimmedText + "...");
        $(".read-less-btn").hide();
        $(".read-more-btn").show();
      });
    }
  });
  </script>
